<!doctype html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>库存管理</title>
    <meta name="description" content="库存管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="bookmark"  type="image/x-icon"  href="/static/img/logo.ico"/>
    <link rel="shortcut icon" href="/static/img/logo.ico">

    <link rel="icon" href="/static/img/logo.ico">

    <link rel="stylesheet" href="/static/AmazeUI/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/AmazeUI/css/admin.css">
    <link rel="stylesheet" href="/static/AmazeUI/css/app.css">

    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/AmazeUI/js/jquery.min.js"></script>
    <script src="/static/AmazeUI/js/amazeui.js"></script>
    <!--<script src="/static/AmazeUI/js/app.js"></script>

    <!--vueJs-->
    <script src="/static/js/lib/vue.min.js"></script>
    <!--underscore-min-->
    <!--<script src="/static/js/lib/underscore-min.js"></script>-->


</head>

<body data-type="generalComponents">
















    <div class="tpl-content-wrapper">
        <div><img src="/static/img/logo.ico" alt="" width="40px" style="margin-right: 9rem;">
            查询库存
        </div>
    </div>
        <div class="tpl-portlet-components"style="
    padding-left: 0px;
    padding-right: 0px;
     min-height: 1000px;    position: absolute;
">
            <!--<div class="portlet-title">-->
                <!--<div class="caption font-green bold">-->
                    <!--<span class="am-icon-code"></span> 列表-->
                <!--</div>-->
                <!--<div class="tpl-portlet-input tpl-fz-ml">-->
                    <!--<div class="portlet-input input-small input-inline">-->
                        <!--<div class="input-icon right">-->
                            <!--<i class="am-icon-search"></i>-->
                            <!--<input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->
            <div class="tpl-block" id="selectGet">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <!--<div class="am-btn-toolbar">-->
                            <!--<div class="am-btn-group am-btn-group-xs">-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                            <!--</div>-->
                        <!--</div>-->

                       <!---=-------------------------------下拉框 ====================-------------------->
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-10" id="goodsCodeDiv">
                            <select data-am-selected="{searchBox: 1, maxHeight: 100}" id="goodsCodeSelect" >
                                <option value="点击输入编码">点击输入编码</option>
                                <!--<option value="WTWL81-H-2">  WTWL81-H-2</option>-->
                            </select>
                        </div>
                        <div class="am-u-sm-10" id="goodsNameDiv">
                            <select data-am-selected="{searchBox: 1, maxHeight: 100}" id="goodsNameSelect">
                                <option value="点击输入品名">点击输入品名</option>
                            </select>
                        </div>
                        <span class="am-input-group-btn" style="padding-top: 1.2rem;">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button" v-on:click="getStockList()"></button>
                            </span>
                    </div>

                    <!---=-------------------------------input ====================-------------------->
                    <!--<div class="am-u-sm-5 am-u-md-3">-->
                        <!--<div class="am-input-group am-input-group-sm">-->
                            <!--<input type="text" class="am-form-field" v-model="query.goodsCode" placeholder="编码">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="am-u-sm-5 am-u-md-3">-->
                        <!--<div class="am-input-group am-input-group-sm">-->
                            <!--<input type="text" class="am-form-field" v-model="query.goodsName" placeholder="名字">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="am-u-sm-2 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button" v-on:click="getStockList()"></button>
                            </span>
                        </div>
                    </div>-->
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main"
                                style="padding: 0.1rem"
                            >
                                <thead>
                                <tr>
                                    <!--<th class="table-title">名称</th>-->
                                    <!--<th class="table-title">编码</th>-->
                                    <th class="table-id">尺码</th>
                                    <th class="table-id">颜色</th>
                                    <th class="table-title">仓库</th>
                                    <th class="table-id">数量</th>
                                    <th class="table-id">进价</th>
                                    <th class="table-id">零售</th>
                                    <!--<th class="table-author am-hide-sm-only">作者</th>-->
                                    <!--<th class="table-date am-hide-sm-only">修改日期</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="ptype in queryList">

                                    <!--<td v-for="ptype in queryList">-->
                                        <!--{{ptype.goodsName}}-->
                                    <!--</td>-->
                                    <!--<td>{{ptype.goodsName}}</td>-->
                                    <!--<td>{{ptype.goodsCode}}</td>-->
                                    <td>{{ptype.size}}</td>
                                    <td>{{ptype.color}}</td>
                                    <td>{{ptype.stockName}}</td>
                                    <td>{{ptype.qty}}</td>
                                    <td>{{ptype.recPrice}}</td>
                                    <td>{{ptype.retPrice}}</td>


                                    <!--<td class="am-hide-sm-only">测试1号</td>-->
                                    <!--<td class="am-hide-sm-only">2014年9月4日 7:28:47</td>-->
                                    <!--<td>-->
                                        <!--<div class="am-btn-toolbar">-->
                                            <!--<div class="am-btn-group am-btn-group-xs">-->
                                                <!--<button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>-->
                                                <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>-->
                                                <!--<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                </tr>

                                </tbody>
                            </table>
                            <!--分页的样式-->
                            <!--<div class="am-cf">-->

                                <!--<div class="am-fr">-->
                                    <!--<ul class="am-pagination tpl-pagination">-->
                                        <!--<li class="am-disabled"><a href="#">«</a></li>-->
                                        <!--<li class="am-active"><a href="#">1</a></li>-->
                                        <!--<li><a href="#">2</a></li>-->
                                        <!--<li><a href="#">3</a></li>-->
                                        <!--<li><a href="#">4</a></li>-->
                                        <!--<li><a href="#">5</a></li>-->
                                        <!--<li><a href="#">»</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <hr>

                        </form>
                    </div>

                </div>
            <div class="tpl-alert">
                <!--<i class="am-icon-spinner am-icon-pulse"></i>-->
            </div>
            </div>
        </div>










    </div>

</div>





<script type="text/javascript">
    //# sourceURL=query.js
    Vue.config.debug = true;//开启vue的debug模式
    var vm = new Vue({
                         el:"#selectGet",
                         data : {
                             query : {},
                             queryList : [],


                         },
                         methods : {
                             getStockList : function() {
                                 vm.query.goodsCode = $("#goodsCodeSelect").val();
                                 vm.query.goodsName = $("#goodsNameSelect").val();
                                 console.log(vm.query);
                                 if(vm.query.goodsCode == '点击输入编码'){
                                     vm.query.goodsCode = "";
                                 }
                                 if(vm.query.goodsName == '点击输入品名'){
                                     vm.query.goodsName = "";
                                 }
                                 console.log(vm.query);
                                 var progress = $.AMUI.progress;
                                 progress.start();
                                 $.ajax({
                                            type : "post",
                                            url : "/goodsC/getStockList",
                                            data : JSON.stringify(vm.query),
                                            contentType:"application/json",
                                            success : function(data) {
                                                console.log(data);
                                                vm.queryList = data.rows;
                                                progress.done();
                                            },
                                            error : function() {
                                                alert("请求失败");
                                                progress.done();
                                            }
                                        });
                             }
                         }
                     });

    vm.$watch('goodsCodeSelectSearch',function(){
        //alert('发生变化了');
    });







    $(function(){
        //商品编码


        /*$("#goodsCodeSelectSearch").keyup(function () {
            alert("111");
            var code = {};
            code.code = $("#goodsCodeSelectSearch").val();
            console.log( code.code);
            alert(code.code);
        })*/




        $("#goodsCodeSelectSearch").bind('input propertychange change', debounce(function(e){
            //获取#input-form下的所有 class为goodsCodeDiv 元素,并实时监听用户输入（：获取input等）（:input）
            //逻辑
            var code = {};
            code.code = $("#goodsCodeSelectSearch").val();
            console.log( code.code);
            //添加一个能够选择的option，是自己输入的
            //先删除
            $("#codeMine").remove();
            $("#goodsCodeSelect").append("<option id='codeMine' value='"+ code.code +"'> " + code.code + "</option>");

            if(code.code.length >=3){
                //英文开始模糊查询了，所以先删除所有的渲染添加的option
                $(".codeAdd").remove();
                $.ajax({
                           type : "post",
                           url : "/goodsC/getGoodsCode",
                           data : JSON.stringify(code),
                           contentType:"application/json",
                           success : function(data) {
                               console.log(data);
                               for(var i =0;i<data.length;i++){
                                   console.log(data[i].goodsCode)
                                $("#goodsCodeSelect").append("<option class='codeAdd' value='"+ data[i].goodsCode +"'> " + data[i].goodsCode  + "</option>");
                               }

                               if (!$.AMUI.support.mutationobserver) {
                                   alert("!");
                                   $("#goodsCodeSelect").trigger('changed.selected.amui');
                               }
                           },
                           error : function() {
                               alert("请求失败");
                           }
                       });
            }
        },300));

        //商品名字
        $("#goodsNameDiv .am-form-field").bind('input propertychange change', debounce(function(e){
            //获取#input-form下的所有 goodsNameDiv 元素,并实时监听用户输入（：获取input等）（:input）
            //逻辑
            var code = {};
            code.code = $("#goodsNameDiv .am-form-field").val();
            console.log( code.code);
            //添加一个能够选择的option，是自己输入的
            //先删除
            $("#nameMine").remove();
            $("#goodsNameSelect").append("<option id='nameMine' value='"+ code.code +"'> " + code.code + "</option>");

            if(code.code.length >=2){
                //英文开始模糊查询了，所以先删除所有的渲染添加的option
                $(".nameAdd").remove();
                $.ajax({
                           type : "post",
                           url : "/goodsC/getGoodsName",
                           data : JSON.stringify(code),
                           contentType:"application/json",
                           success : function(data) {
                               console.log(data);
                               for(var i =0;i<data.length;i++){
                                   console.log(data[i].goodsName)
                                   $("#goodsNameSelect").append("<option class='nameAdd' value='"+ data[i].goodsName +"'> " + data[i].goodsName  + "</option>");
                               }
                           },
                           error : function() {
                               alert("请求失败");
                           }
                       });
            }
        },300))


    })









    function debounce(fn, delay) {
        // 定时器，用来 setTimeout
        var timer
        // 返回一个函数，这个函数会在一个时间区间结束后的 delay 毫秒时执行 fn 函数
        return function () {
            // 保存函数调用时的上下文和参数，传递给 fn
            var context = this
            var args = arguments
            // 每次这个返回的函数被调用，就清除定时器，以保证不执行 fn
            clearTimeout(timer)
            // 当返回的函数被最后一次调用后（也就是用户停止了某个连续的操作），
            // 再过 delay 毫秒就执行 fn
            timer = setTimeout(function () {
                fn.apply(context, args)
            }, delay)
        }
    }

</script>




</body>


</html>