<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pb.charts.dao.SizeMapper" >
  <resultMap id="BaseResultMap" type="com.pb.charts.entity.Size" >
    <id column="SIZEID" property="sizeid" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="BARCODE" property="barcode" jdbcType="VARCHAR" />
    <result column="sysrow" property="sysrow" jdbcType="INTEGER" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="XBARCODE" property="xbarcode" jdbcType="VARCHAR" />
    <result column="xname" property="xname" jdbcType="VARCHAR" />
    <result column="xsizeid" property="xsizeid" jdbcType="INTEGER" />
    <result column="lsizeid" property="lsizeid" jdbcType="INTEGER" />
    <result column="lbarcode" property="lbarcode" jdbcType="VARCHAR" />
    <result column="lname" property="lname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SIZEID, NAME, remark, BARCODE, sysrow, order, XBARCODE, xname, xsizeid, lsizeid, 
    lbarcode, lname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pb.charts.entity.SizeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SIZE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SIZE
    where SIZEID = #{sizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SIZE
    where SIZEID = #{sizeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pb.charts.entity.SizeExample" >
    delete from SIZE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pb.charts.entity.Size" >
    insert into SIZE (SIZEID, NAME, remark, 
      BARCODE, sysrow, order, 
      XBARCODE, xname, xsizeid, 
      lsizeid, lbarcode, lname
      )
    values (#{sizeid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{barcode,jdbcType=VARCHAR}, #{sysrow,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, 
      #{xbarcode,jdbcType=VARCHAR}, #{xname,jdbcType=VARCHAR}, #{xsizeid,jdbcType=INTEGER}, 
      #{lsizeid,jdbcType=INTEGER}, #{lbarcode,jdbcType=VARCHAR}, #{lname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pb.charts.entity.Size" >
    insert into SIZE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sizeid != null" >
        SIZEID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="barcode != null" >
        BARCODE,
      </if>
      <if test="sysrow != null" >
        sysrow,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="xbarcode != null" >
        XBARCODE,
      </if>
      <if test="xname != null" >
        xname,
      </if>
      <if test="xsizeid != null" >
        xsizeid,
      </if>
      <if test="lsizeid != null" >
        lsizeid,
      </if>
      <if test="lbarcode != null" >
        lbarcode,
      </if>
      <if test="lname != null" >
        lname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sizeid != null" >
        #{sizeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="sysrow != null" >
        #{sysrow,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="xbarcode != null" >
        #{xbarcode,jdbcType=VARCHAR},
      </if>
      <if test="xname != null" >
        #{xname,jdbcType=VARCHAR},
      </if>
      <if test="xsizeid != null" >
        #{xsizeid,jdbcType=INTEGER},
      </if>
      <if test="lsizeid != null" >
        #{lsizeid,jdbcType=INTEGER},
      </if>
      <if test="lbarcode != null" >
        #{lbarcode,jdbcType=VARCHAR},
      </if>
      <if test="lname != null" >
        #{lname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update SIZE
    <set >
      <if test="record.sizeid != null" >
        SIZEID = #{record.sizeid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.barcode != null" >
        BARCODE = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysrow != null" >
        sysrow = #{record.sysrow,jdbcType=INTEGER},
      </if>
      <if test="record.order != null" >
        order = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.xbarcode != null" >
        XBARCODE = #{record.xbarcode,jdbcType=VARCHAR},
      </if>
      <if test="record.xname != null" >
        xname = #{record.xname,jdbcType=VARCHAR},
      </if>
      <if test="record.xsizeid != null" >
        xsizeid = #{record.xsizeid,jdbcType=INTEGER},
      </if>
      <if test="record.lsizeid != null" >
        lsizeid = #{record.lsizeid,jdbcType=INTEGER},
      </if>
      <if test="record.lbarcode != null" >
        lbarcode = #{record.lbarcode,jdbcType=VARCHAR},
      </if>
      <if test="record.lname != null" >
        lname = #{record.lname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SIZE
    set SIZEID = #{record.sizeid,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      BARCODE = #{record.barcode,jdbcType=VARCHAR},
      sysrow = #{record.sysrow,jdbcType=INTEGER},
      order = #{record.order,jdbcType=INTEGER},
      XBARCODE = #{record.xbarcode,jdbcType=VARCHAR},
      xname = #{record.xname,jdbcType=VARCHAR},
      xsizeid = #{record.xsizeid,jdbcType=INTEGER},
      lsizeid = #{record.lsizeid,jdbcType=INTEGER},
      lbarcode = #{record.lbarcode,jdbcType=VARCHAR},
      lname = #{record.lname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pb.charts.entity.Size" >
    update SIZE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        BARCODE = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="sysrow != null" >
        sysrow = #{sysrow,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="xbarcode != null" >
        XBARCODE = #{xbarcode,jdbcType=VARCHAR},
      </if>
      <if test="xname != null" >
        xname = #{xname,jdbcType=VARCHAR},
      </if>
      <if test="xsizeid != null" >
        xsizeid = #{xsizeid,jdbcType=INTEGER},
      </if>
      <if test="lsizeid != null" >
        lsizeid = #{lsizeid,jdbcType=INTEGER},
      </if>
      <if test="lbarcode != null" >
        lbarcode = #{lbarcode,jdbcType=VARCHAR},
      </if>
      <if test="lname != null" >
        lname = #{lname,jdbcType=VARCHAR},
      </if>
    </set>
    where SIZEID = #{sizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pb.charts.entity.Size" >
    update SIZE
    set NAME = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      BARCODE = #{barcode,jdbcType=VARCHAR},
      sysrow = #{sysrow,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      XBARCODE = #{xbarcode,jdbcType=VARCHAR},
      xname = #{xname,jdbcType=VARCHAR},
      xsizeid = #{xsizeid,jdbcType=INTEGER},
      lsizeid = #{lsizeid,jdbcType=INTEGER},
      lbarcode = #{lbarcode,jdbcType=VARCHAR},
      lname = #{lname,jdbcType=VARCHAR}
    where SIZEID = #{sizeid,jdbcType=INTEGER}
  </update>
</mapper>